[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Patrickxzm
[access "refs/for/refs/*"]
	read = group user/Patrickxzm
	push = group user/Patrickxzm
	label-Code-Review = -2..+2 group user/Patrickxzm
	label-Verified = -1..+1 group user/Patrickxzm
	rebase = group user/Patrickxzm
	removeReviewer = group user/Patrickxzm
	submit = group user/Patrickxzm
[access "refs/heads/*"]
	read = group user/Patrickxzm
	create = group user/Patrickxzm
	push = +force group user/Patrickxzm
	pushMerge = group user/Patrickxzm
[access "refs/tags/*"]
	push = +force group user/Patrickxzm
	pushTag = group user/Patrickxzm
	pushSignedTag = group user/Patrickxzm
